In [70]:
import pandas as pd
import numpy as np

In [71]:
ds = pd.read_csv("../DataSheets/spam.csv")

In [72]:
ds

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [73]:
ds.Category.value_counts()

Category
ham     4825
spam     747
Name: count, dtype: int64

In [74]:
ds.shape

(5572, 2)

In [75]:
def myFun(x):
    if x == 'spam':
        return 1
    else:
        return 0

In [76]:
# ds['spam'] = ds['Category'].apply(myFun)


ds['spam'] = ds['Category'].apply(lambda x: 1 if x=='spam' else 0)

In [77]:
ds.head()

  Category                                            Message  spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

In [78]:
ds.shape

(5572, 3)

In [79]:
from sklearn.model_selection import train_test_split

In [80]:
xTrain, xTest, yTrain, yTest = train_test_split(ds['Message'], ds['spam'], test_size=.2)

In [81]:
yTrain.values

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [104]:
xTest.values

array(['Just sleeping..and surfing',
       'Happy birthday to you....dear.with lots of love.rakhesh NRI',
       'Shall i send that exe to your mail id.', ...,
       'You are guaranteed the latest Nokia Phone, a 40GB iPod MP3 player or a £500 prize! Txt word: COLLECT to No: 83355! IBHltd LdnW15H 150p/Mtmsgrcvd18+',
       'S but not able to sleep.',
       'I am in hospital da. . I will return home in evening'],
      dtype=object)

In [105]:
from sklearn.feature_extraction.text import CountVectorizer

In [106]:
cv = CountVectorizer()

In [107]:
xTrain_cv = cv.fit_transform(xTrain.values)

In [109]:
xTrain_cv.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [110]:
xTrain_cv

<4457x7794 sparse matrix of type '<class 'numpy.int64'>'
	with 59412 stored elements in Compressed Sparse Row format>

In [114]:
xTrain.shape

(4457,)

In [113]:
xTrain_cv.shape

(4457, 7794)